.voucher {
  width: 80%;
  margin: 10px auto;
}

@media screen and (max-width: 760px) {
  .row {
    justify-content: center !important;
  }
}
@media screen and (min-width: 1400px) {
  .row {
    justify-content: start !important;
  }
}
footer {
  background-color: #beb3b3;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
.container {
  width: 90%;
}
img,
svg {
  width: 100% !important;
  height: auto;
}
.pointer {
  cursor: pointer;
}
.pageination>li>a:link {
  background-color: yellow;
}

.pageination>li>a:visited {
  background-color: cyan;
}

.pageination>li>a:hover {
  background-color: rgb(218, 90, 90);
}

.pageination>li>a:active {
  background-color: rgb(160, 111, 136);
} 
ul {
  list-style: none;
  }